@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<a href="#main-content" class="skip-link">@Localizer["SkipToMainContent"]</a>
<div class="header-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="header-controls d-flex align-items-center">

        </div>
    </div>
</div>
