@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<a href="#main-content" class="skip-link">@Localizer["SkipToMainContent"]</a>
<div class="header-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="header-controls d-flex align-items-center">
            <div class="language-switcher me-3">
                <button id="ar-btn" class="btn btn-outline-secondary btn-sm active">
                    @Localizer["Arabic"]
                </button>
                <button id="en-btn" class="btn btn-outline-secondary btn-sm">
                    @Localizer["English"]
                </button>
            </div>
            <!-- Theme Switcher -->
            <label class="switch">
                <input type="checkbox" id="theme-checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>
