@{
    Layout = "_Layout";
    ViewData["Title"] = "Unauthorized";
}

<div class="card shadow p-5 mt-5 text-center">
    <h1 class="display-4 text-warning">401</h1>
    <p class="lead">You need to login to access this page.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
</div>
