html, body {
    height: 100%;
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    background-color: var(--bg-color);
    color: var(--text-color);
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    flex: 1; /* push footer down */
}
