<footer class="footer py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-white">
                    <i class="bi bi-shield-shaded me-2"></i>
                    <span data-translate="ministry_name">وزارة الطاقة والمعادن</span>
                </h5>
                <p class="mb-2" data-translate="footer_mission">
                    نعمل على تعزيز الشفافية ومكافحة الفساد وحماية المبلغين
                </p>
                <div class="social-links">
                    <a href="#" class="me-3" title="تويتر"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="me-3" title="فيسبوك"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="me-3" title="لينكد إن"><i class="bi bi-linkedin"></i></a>
                    <a href="#" title="يوتيوب"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="text-white" data-translate="contact_info">معلومات التواصل</h5>
                <p><i class="bi bi-geo-alt me-2"></i> <span data-translate="location">مسقط، سلطنة عُمان</span></p>
                <p><i class="bi bi-telephone me-2"></i> +968 24640555</p>
                <p><i class="bi bi-envelope me-2"></i> info@mem.gov.om</p>
            </div>
            <div class="col-md-4">
                <h5 class="text-white" data-translate="security_privacy">الأمان والخصوصية</h5>
                <p><i class="bi bi-shield-check me-2"></i> <span data-translate="ssl_encryption">تشفير SSL 256-bit</span></p>
                <p><i class="bi bi-lock me-2"></i> <span data-translate="data_protection">حماية البيانات وفقاً لأعلى المعايير</span></p>
                <p><i class="bi bi-eye-slash me-2"></i> <span data-translate="confidentiality">سرية المعلومات مضمونة</span></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-1" data-translate="copyright">
                    © جميع الحقوق محفوظة 2025 - وزارة الطاقة والمعادن
                </p>
                <div class="footer-links">
                    <a href="#" class="text-decoration-none me-3" data-translate="privacy_policy">سياسة الخصوصية</a>
                    <a href="#" class="text-decoration-none me-3" data-translate="terms_conditions">الشروط والأحكام</a>
                    <a href="#" class="text-decoration-none" data-translate="sitemap">خريطة الموقع</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p>
                    <i class="bi bi-shield-lock-fill me-2"></i>
                    <span data-translate="info_confidentiality">سرية المعلومات مضمونة</span>
                </p>
            </div>
        </div>
    </div>
</footer>
